examples/jaxws-spring/src/main/resources/hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="hello" targetNamespace="http://services.something.org/hello"
  xmlns:tns="http://services.something.org/hello" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://services.something.org/hello"
      xmlns:tns="http://services.something.org/hello" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
      jaxb:version="2.0" xmlns="http://www.w3.org/2001/XMLSchema" version="1.0">
      <annotation>
        <documentation>Hello Service Contract XML Schema</documentation>
      </annotation>
      <element name="HelloRequest">
        <complexType>
          <sequence>
            <element name="toWho" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="HelloResponse">
        <complexType>
          <sequence>
            <element name="greeting" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="HelloFault">
        <complexType>
          <sequence>
            <element name="shortErrorMessage" type="string" />
            <element name="techImplementationDetails" type="string" minOccurs="0">
              <annotation>
                <documentation>For example a Stacktrace</documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="HelloRequestMessage">
    <wsdl:part name="HelloRequest" element="tns:HelloRequest" />
  </wsdl:message>
  <wsdl:message name="HelloResponseMessage">
    <wsdl:part name="HelloResponse" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="HelloFaultMessage">
    <wsdl:part name="HelloFaultPart" element="tns:HelloFault" />
  </wsdl:message>
  <wsdl:portType name="HelloService">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:HelloRequestMessage" />
      <wsdl:output message="tns:HelloResponseMessage" />
      <wsdl:fault name="HelloFaultFault" message="tns:HelloFaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloHttpBinding" type="tns:HelloService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="hello/sayHello" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HelloFaultFault">
        <soap:fault name="HelloFaultFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port name="HelloHttpPort" binding="tns:HelloHttpBinding">
      <soap:address location="http://localhost/hello/HelloService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
